@font-face {
  font-family: 'TT Hoves';
  src: url('./public/TTHoves-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'The Seasons';
  src: url('./public/Fontspring-DEMO-theseasons-lt.otf');
  font-style: normal;
  font-weight: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-family: 'TT Hoves';
  font-size: 20pt;
}

body {
  background-color: #000;
  color: #eee;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  font-family: 'The Seasons', serif;
  font-size: 75pt;
  margin: 0;
  padding-bottom: 1em;
}

.arrow {
  width: 25px;
  height: 25px;
}

.link-box {
  display: flex;
  text-align: left;
  gap: 0.75em;
}

/* =======HEADER SECTION======= */

.header {
  display: flex;
  gap: 5%;
}

.header,
.section {
  padding: 75pt;
}

.header-left {
  width: 100%;
}

.header-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-right .arrow {
  margin: 28px 0;
}

.header-right .link-box {
  justify-content: flex-end;
}

.header-contact-link {
  align-self: end;
  font-size: 21pt;
}

.tagline {
  text-align: center;
  border: 1px solid #eee;
  padding: 0.75em 1.25em;
  border-radius: 50px;
  display: block;
  font-size: 28pt;
  width: 80%;
}

.profile-picture {
  width: 67%;
  padding-bottom: 1.25rem;
}

/* =======PROJECTS SECTION======= */

.projects {
  display: flex;
  justify-content: space-between;
}

.projects .arrow {
  margin: 20pt 0;
}

.project-card {
  width: 22.5%;
  text-align: center;
}

.project-link {
  font-size: 19pt;
}

.project-card > img {
  width: 100%;
}

.project-card > .link {
  text-align: left;
}

/* =======REACH OUT SECTION======= */

#reach-out-section .arrow {
  margin: 20pt 0;
}
