h1 {
  font-family: 'The Seasons Regular', serif;
  font-size: 75px;
}

.projects-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}
